@model TrabalhoCamadaPersistencia.Models.Precomercado

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Tem Certeza que deseja excluir?</h3>
<div>
    <h4>Preços</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.animal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.animal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Excluir" class="btn btn-outline-danger" /> |
        <a type="button" class="btn btn-outline-dark" asp-action="Index">Voltar á Lista</a>
    </form>
</div>
