@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-80">
            <img src="/lib/Golden-Retriever.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Golden Retriever</h5>
                <p class="card-text"> Pesando entre 25 a 34kg od Goldens são amáveis e conhecidos pela natureza dedicada e protetora com a família. Por serem muito agitados, precisam fazer exercícios físicos e mentais diariamente. É um cachorro fácil de ser adestrado por gostar de aprender. Praticam e gostam de brincadeiras que envolvam buscas.Os machos devem ter entre 56-61 cm na cernelha e as fêmeas ligeiramente mais curto, entre 51-56 cm.  </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-80">
            <img src="/lib/husksiberiano.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Husky Siberiano</h5>
                <p class="card-text">O Husky pode alcançar dos 50,5 aos 60 cm. O peso dessa raça varia dos 15,5 aos 28 kg.Esse animal é muito amigável, alegre e brincalhão. Acostumado a viver em rebanhos, ele se dá muito bem com humanos, crianças e cachorros de outras raças. Além de fazer amizade com todo mundo, ele tem energia de sobra para acompanhar o tutor em aventuras e é um ótimo companheiro.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-80">
            <img src="/lib/Shih-Tzu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shih Tzu</h5>
                <p class="card-text">
                    O Shih Tzu é um cão que gosta de estar sempre com você, não importa o que você esteja fazendo. Ele adora passear no parque, mas também gosta de ficar em casa relaxando no sofá.
                    E se você tem outros animais ou crianças em casa, não se preocupe, pois o Shih Tzu é muito amigável com todos. Eles também são usados para ajudar pessoas em terapias com cães. Contudo, os Shih Tzus são animais inteligentes, ativos e carinhosos. Shih-Tzus são considerados cães de companhia.O Shih Tzu não deve passar dos 27cm de cernelha e 8,5kg em seu peso.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-80">
            <img src="/lib/Yorkshire.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Yorkshire Terrier
                </h5>
                <p class="card-text">Os Yorkshires são muito inteligentes e prontos para aceitarem treinamento. Eles amam atenção da família e odeiam ser ignorados por longos períodos de tempo. Eles são ótima companhia para quem vive sozinho, têm energia de sobra para brincar, se dão bem com outros cães e gatos – se acostumados desde cedo e o melhor: amam receber carinho e ficar no colo! Essa raça é muito dócil e ótima para crianças, pois aceitam brincadeiras e não se irritam com facilidade. Eles se adaptam bem à família e provavelmente seguirão o temperamento da casa.Em sua vida adulta, o cão da raça pode chegar de 20 cm até 22 cm, com o peso alternando entre 2 kg e 4 kg.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-80">
            <img src="/lib/gato-persa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Gato Persa
                </h5>
                <p class="card-text">
                    O gato Persa é, para muitos, sinônimo de gato de luxo, com seu porte tranquilo e pelagem longa. Por isso, é considerado o “rei das exposições”, por ser uma raça de gato peludo e majestosa com focinho plano.
                    Possui temperamento tranquilo e é amável, ótimo para pessoas que possuem outros pets, crianças ou que são tutores pela primeira vez de um felino.
                    O gato Persa é uma raça braquicefálica, nome dado a característica da conformação craniana, devido ao seu focinho ser mais curto ou  “achatado”. O que pode resultar na dificuldade da respiração, muitas vezes refletindo em seu comportamento mais tranquilo e quieto.
                    A raça de gato Persa adora dormir no colo e receber carinho!
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-80">
            <img src="/lib/foto-de-gato-siames.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Gato Siamês
                </h5>
                <p class="card-text">
                    Dentre essas principais raças de gato, o Siamês é uma das raças de gatos pequenos mais famosas que existem, medindo entre 20 a 30 cm e pesa de 4 a 6kg. Na maioria das vezes, são tranquilos, amáveis e fiéis, mas algumas vezes, de repente, o comportamento muda, e eles podem ficar mais quietos e apáticos. É uma raça independente e que precisa de socialização logo cedo, para não ter ciúmes de seus tutores e se dar bem com todas as pessoas próximas.Por se tratar de um gato de raça, o Siamês possui predisposição a algumas doenças, como a bronquite alérgica felina ou asma, que se desenvolve por uma hipersensibilidade a alérgenos ambientais como cigarro, ácaros, poeira, entre outras.
                    Se você tem um gato Siamês, lembre-se de tratá-lo com a alimentação adequada e específica
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-80">
            <img src="/lib/British Shorthair.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    British Shorthair
                </h5>
                <p class="card-text">
                    O British Shorthair é um gato apegado, sociável, que gosta de atenção e de estar sempre perto dos seus pais humanos.  São pets espertos, um pouco reservados com estranhos, mas que se dão bem com crianças e precisam de estimulação mental com brinquedos e jogos interativos. Sua espectativa é de até os 13 anos. A altura varia de
                    20 a 25 cm e o peso varia de 4 a 7 kg.
                </p>
            </div>
        </div>
    </div>
</div>
